Django==2.2.28
metapy==0.2.13
python-dotenv==0.20.0
gunicorn==20.1.0
django-cors-headers==3.5.0
spacy==2.3.8
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
numpy==1.16.1
pylint
